doctype html
html(lang="en")
  head
    title Posthere
    link(rel='stylesheet' href='/global.css')

  body
    block content

    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js')
    script(type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery.shapeshift/2.0/jquery.shapeshift.js')
    script(type='text/javascript' src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js')
