doctype html
html(lang="en")
  head
    title Posthere

    link(rel="stylesheet" href="//fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic")
    link(rel="stylesheet" href="vendor/stylesheets/angular-material.css")
    link(rel='stylesheet' href='/global.css')


  body
    block content

    script(src="vendor/javascripts/jquery.js")
    script(src="vendor/javascripts/jquery.shapeshift.js")
    script(src="vendor/javascripts/angular/1.4.2/angular.js")
    script(src="vendor/javascripts/angular/1.4.2/angular-animate.js")
    script(src="vendor/javascripts/angular/1.4.2/angular-aria.js")
    script(src="vendor/javascripts/angular-ui-router.js")
    script(src="vendor/javascripts/angular-material.js")

