doctype html

head
  title Post Here

  != css('app')

body
  block content

  != js ''//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js''
  != js '//cdnjs.cloudflare.com/ajax/libs/jquery.shapeshift/2.0/jquery.shapeshift.js'

  != js 'app'

| </html>
