.shapeshift
  .col.s2(ng-repeat="note in notes")
    .card.darken-1(ng-mouseenter="note.hover=true"
                   ng-mouseleave="note.hover=false"
                   ng-include="templateForState(note)")
