.card-content
  .row
    form.col.s12(name="noteForm")
      .row
        .input-field.col.s12
          input.validate(type="text" ng-model="note.title")
          label.active Title
      .row
        .input-field.col.s12
          textarea.validate.materialize-textarea(ng-model="note.content")
          label.active Content

.card-action
  .right
    a(href="" ng-click="updateNote(note)") Save
    a(href="" ng-click="cancelNote(note)") Cancel
  .clearfix
