md-card-content
  form(name="noteForm")
    md-input-container
      label Title
      input(md-maxlength="50" required name="title" ng-model="note.title")

    md-input-container
      label Content
      textarea(md-maxlength="500" required name="content" ng-model="note.content")

.md-actions.new-actions(layout="row" layout-align="end bottom")
  md-button(aria-label="Save" ng-click="saveNote(note, true)") Save
  md-button(aria-label="Cancel" ng-click="cancelNote(note, true)") Cancel
