.card-content
  .row
    form.col.s12(name="noteForm")
      .row
        .input-field.col.s12
          input.validate(type="text" ng-model="note.title")
          label Title
      .row
        .input-field.col.s12
          textarea.validate.materialize-textarea(ng-model="note.content")
          label Content

.card-action
  .right
    a(href="" ng-click="saveNote(note)") Save
    a(href="" ng-click="removeNote(note)") Cancel
  .clearfix
