.card-content
  .note-actions(ng-if="note.hover")
    a(href="" ng-click="editNote(note)")
      i.material-icons.grey-text.text-darken-4 settings
    a(href="" ng-click="deleteNote(note)")
      i.material-icons.red-text.text-darken-4 delete

  span.card-title.grey-text.text-darken-4(ng-bind="note.title")
  p(ng-bind="note.content")

.card-action
  small.left(ng-bind="note.author")
  small.right(ng-bind="humanizeDate(note.created)")
  .clearfix
