//
// Global stylesheet
// TODO: Break this up into logical files
//

html, body {
  width: 100%;
  height: 100%;
}

.container.full-width {
  width: 100%;
  max-width: 100%;
  padding: 0 0.75rem;
}

// Users

.login, .signup {
  .row {
    &:first-child {
      margin-top: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 0;
    }

    &:last-child {
      margin-bottom: 10px;
    }
  }

  .btn {
    width: 100%;
    height: 46px;
    line-height: 50px;
  }

  .card {
    padding: 0 5px;
  }
}

.login {
  max-width: 600px;
  margin: 24px auto 0;
}

.signup {
  max-width: 420px;
  margin: 24px auto 0;

  .btn {
    margin-bottom: 10px;
  }
}

// Notes

.note-actions {
  top: 4px;
  right: 0;
  position: absolute;
}

// Shapeshift

.ss-placeholder-child {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
