md-card.login-card
  md-card-content
    form(name="user" layout="row" layout-align="space-between center" layout-wrap)
      md-input-container(flex="45")
        label Username
        input(type="text" ng-model="user.username" required)

      md-input-container(flex="45")
        label Password
        input(type="password" ng-model="user.password" required)

      md-button.md-raised.md-primary(flex="99" ng-click="login()") Log In
