.login
  .row.card
    form.col.s12(name="user")
      .row
        .input-field.col.s4
          input.validate(type="text" ng-model="user.username")
          label Username
        .input-field.col.s4
          input.validate(type="password" ng-model="user.password")
          label Password
        .input-field.col.s4
          button.btn.waves-effect.waves-light(type="submit" ng-click="login()") Log In
