.new_user(ng-form="user")

  section(layout="row" layout-sm="column" layout-align="center center")

    md-input-container
      label Username
      input(type="text" ng-model="user.username" required)

    md-input-container
      label Email
      input(type="text" ng-model="user.email" required)

    md-input-container
      label First Name
      input(type="text" ng-model="user.firstName" required)

    md-input-container
      label Last Name
      input(type="text" ng-model="user.lastName" required)

    md-input-container
      label Password
      input(type="password" ng-model="user.password" required)

    md-button(class="md-raised md-primary" ng-click="signUp()") Sign Up
